@tailwind base;

.gradient-btn {
  background: rgb(196,115,253);
  background: linear-gradient(90deg, rgba(196,115,253,1) 0%, rgba(90,74,182,1) 100%);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  #fileInput {
    display: none;
  }

  textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

  p {
    color: #ededee;
    text-decoration: none;
    font-size: medium;
    text-wrap: pretty;
  }
}


@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 14px;
  height: 14px; /* Adjust the height as needed */
  background-color: #171717;
  margin-block: 0.5em;
}

::-webkit-scrollbar-track {
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 99999px;
  background-clip: padding-box;
  background-color: #905fda;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5c4bb7;
}

@supports (scrollbar-color: #905fda #000000e5) {
  * {
    scrollbar-color: #905fda #000000e5;
    scroll-behavior: smooth;
  }
}

/* Enable horizontal scrolling */
.horizontal-scrollable {
  overflow-x: auto;
  white-space: nowrap; /* Prevent line breaks */
}